/* Element Selectors */
html {
    margin: 0;
    background-color: blue;
    color: white;
}

h2 {
    background-color: yellow;
    color: black;
    padding: 10px;
}

p {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: justify;
}

hr {
    color: white;
}

table, th, td{
    border: 1px solid white;
    background-color: black;
    color: white;
    border-collapse: collapse;
    padding: 10px;
}

#mg {
    border-radius: 5px;
    border: 5px solid white;
    margin: 50px 100px 50px 100px;
}

/* Element Selectors */